/Sources/TestResults
/Sources/packages
/Sources/VJeek.Microdata.sln.DotSettings.user
/Sources/VJeek.Microdata.v12.suo
/Sources/VJeek.Microdata.Tests/obj
/Sources/VJeek.Microdata.Tests/bin
/Sources/VJeek.Microdata/bin
/Sources/VJeek.Microdata/obj
/Sources/VJeek.Microdata.Tests/VJeek.Microdata.Tests.v12.suo
